

/*colors*/
$backgroundColor: #FFFFFF;
$backgroundGray: #F5F5F5;
/* button sprawdztrening */
$btnSprawdzTreningBackground:#FFFFFF;
$btnSprawdzTreningBorder:#E2E2E2;
$btnSprawdzTreningShadow:#E2E2E2;
$btnSprawdzTreningText:#676767;
$btnSprawdzTreningBackgroundHover:#FFF2D2;
$btnSprawdzTreningBorderHover:#FFCC48;
$btnSprawdzTreningTextHover:#FFCC48;
/* button umowSie */
$btnUmowSieBackground: #FFCC48;
$btnUmowSieBorder: #FFCC48;
$btnUmowSieShadow:#FFF2D2;
$btnUmowSieText: #3A3939;
$btnUmowSieBackgroundHover:#FFB700;
// $btnUmowSieBorderHover:;
$btnUmowSieTextHover:#FFFFFF;

//$btnRozwinBorder
$btnRozwinBorder: #e2e2e2;
$btnRozwinBackground: #ffffff;
$btnRozwinShadow:#e2e2e2;

/*navigation colors*/
$navUlLiTextColor: #9B9B9B;
$navUlLiTextColorHover: #FFB700;
$hamburgermenu: #868686;

/* footer colors*/
$footerBackground: #313131;
$footerTextColor: #FFFFFF;

/* h and p colors */
$h2TextColor: #3A3939;

$pTextColor: #676767;

$h4TextColor: #3A3939;

$trainerTextMore: #FFD067;

$trainingsTextPrice: #FFCC48;

/* trainings */
 $spanBorderBottom: #FFF7E3;

$borderColor: #E2E2E2;

/* button zapisz się w trainings */
$buttonZapiszSieBackgroundColor: #FFCC48 ;
$buttonZapiszSieShadowColor: #FFF2D2;
$buttonZapiszSieTxtColor: #3A3939;
