
body{
    background-color: $backgroundColor;
    font-family: $font;
    

    .container{
        width: 1440px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        @media(max-width: 1024px) {
            width: 1024px;
        }
        @media(max-width:320px) {
            width: 320px;
        }

    }
}