
body{
    background-color: $backgroundColor;
    font-family: $font;
    

    .container{
        width: 1440px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;

    }
}