


    header{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height:100px;
        margin-top: 26px;
        @media(max-width:1024px){
            display: flex;
            justify-content: space-around;
        }
        @media(max-width:320px){

        }

        .logo img{
            width: 140px;
            height: 48px;
            @media(max-width:320px){
                width: 96px;
                height: 26px;
                }
        }
        button.cross {
            display: none;
        }

        nav ul li {
            list-style-type: none;
            text-transform: uppercase;
            font-family: $font;
            font-weight: 500;
            font-size: 14px;
            
            letter-spacing: 0;
            display: inline-block;
            margin-right: 37px;
            cursor: pointer;
            @media (max-width: 1024px){
                display: none;
            }
            
            
            a {
                text-decoration: none;
                color: $navUlLiTextColor;
            }
            a:hover {
                color: $btnUmowSieBackgroundHover;
            }
        }

        

        div.sidenav {
            display: block;

            @media(max-width:320px){
            display: none;
            }
            button.sprawdz-trening {
            margin-right: 21px;
            margin-top: 10px;
            }
        }   
        button.hamburger {
            display: none;
            @media (max-width: 1024px){
                display: inline-block;
                border: none;
                height: 20px;
                width: 22px;
                background-color: $backgroundColor;
                position: relative;

                .hamburger__inner {
                    width: 22px;
                    height: 2px;
                    background-color: $hamburgermenu ;
                    display: block;

                    &::after{
                        content: "";
                        position: absolute;
                        top: 1px;
                        width: 22px;
                        height: 2px;
                        background-color: $hamburgermenu ;
                        display: block;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 1px;
                        width: 22px;
                        height: 2px;
                        background-color: $hamburgermenu;
                        display: block;
                    }
                }


            }
        }

    }


