
section.opinie {
    
    background-color: $backgroundGray;
    height: 543px;

    .container{
        background-color: $backgroundGray;
    }

    h2 {
        text-align: center;
        padding-top: 87px;
        font-weight: 700;
        font-size: 39px;
        color: $h2TextColor;
        line-height: 45px;
    
    }

    .carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:33px ;
        .carousel-container-big{
            background: $backgroundColor;
            box-shadow: 0 5px 12px 0 $btnSprawdzTreningBorder;
            border-radius: 6px;
            width: 1066px;
            height: 250px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            ul.slider{
                list-style: none;
                display: flex;
                li{
                    display: none;

                    .carousel-container{
                        width: 1066px;
                        height: 250px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;

                        .carousel-txt-container {
                            width: 569px;
                            text-align: left;

                            h4{
                                margin-top: 32px;
                                text-align: left;
                                margin-bottom: 2px;  

                                font-family: $font;
                                font-weight: 400;
                                font-size:20px;
                                color: $h4TextColor;
                
                                line-height: 45px;
                            }
                            p{
                                font-weight: 400;
                                font-size: 14px;
                                color: $pTextColor;
                                line-height: 25px;
                                margin-top: 20px;
                                margin-bottom: 20px;

                                &.person{
                                    font-family: $font;
                                    font-size: 14px;
                                    line-height: 25px;
                                    font-weight: 400;
                                    color: #676767;

                                    span{
                                        font-weight: 700;
                                        color:#676767;
                                    }
                                }
                            }

                        }

                    }

                    a{
                        
                        &.carousel-control-prev {
                            align-self: center;
                            // margin-right: 45px;
                        }
                        
                        &.carousel-control-next {
                            align-self: center;
                            // margin-left: 45px;
                        }

                        i{
                            color:#9B9B9B;
                            font-size: 28px;

                            &:hover{
                                color:  #FFB700;
                            }
                        }
                    }
                }


                li.visible{
                    display: inline-block;
                }
            }
        }

    }



    

    


}