
section.opinie {
    
    background-color: $backgroundGray;
    height: 543px;

    .container{
        background-color: $backgroundGray;

    }

    h2 {
        text-align: center;
        padding-top: 87px;
        font-weight: 700;
        font-size: 39px;
        color: $h2TextColor;
        line-height: 45px;

        @media (max-width:320px) {
            font-size: 20px;
            line-height: 25px;
            padding-top: 30px;
        }
    
    }

    .carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:33px ;
        .carousel-container-big{
            background: $backgroundColor;
            box-shadow: 0 5px 12px 0 $btnSprawdzTreningBorder;
            border-radius: 6px;
            width: 1066px;
            height: 250px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @media(max-width: 1024px){
                width:893px ;
            }
            @media(max-width:320px){
                width: 280px;
                height: 440px;
                position: relative;
            }

            ul.slider{
                list-style: none;
                display: flex;
                li{
                    display: none;

                    .carousel-container{
                        width: 1066px;
                        height: 250px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        @media(max-width:1024px){
                            width: 893px;

                            img {
                                width: 193px;
                                height: 143px;
                                @media(max-width: 320px){
                                    display: none;
                                }
                            }
                        }


                        .carousel-txt-container {
                            width: 560px;
                            text-align: left;
                            
                            @media(max-width:320px){
                                width: 230px;
                                
                            }

                           

                            h4{
                                margin-top: 32px;
                                text-align: left;
                                margin-bottom: 2px;  

                                font-family: $font;
                                font-weight: 400;
                                font-size:20px;
                                color: $h4TextColor;
                
                                line-height: 45px;
                                @media(max-width: 320px){
                                    margin-top: 10px;
                                    line-height: 30px;
                                    text-align: center;
                                }
                            }
                            p{
                                font-weight: 400;
                                font-size: 14px;
                                color: $pTextColor;
                                line-height: 25px;
                                margin-top: 20px;
                                margin-bottom: 20px;

                                &.person{
                                    font-family: $font;
                                    font-size: 14px;
                                    line-height: 25px;
                                    font-weight: 400;
                                    color: $pTextColor;

                                    span{
                                        font-weight: 700;
                                        color:$pTextColor;
                                    }
                                }
                            }

                        }

                        a{
                        
                            &.carousel-control-prev{
                                align-self: center;

                                @media(max-width:320px){
                                    position: absolute;
                                    bottom: 10px;
                                    left: 120px;
                                }

                                i{
                                    color:$navUlLiTextColor;
                                    font-size: 28px;
    
                                    @media(max-width:1024px){
                                        font-size: 16px;
                                    }
        
                                    &:hover{
                                        color:  $navUlLiTextColorHover;
                                    }
                                }
                            }
                            &.carousel-control-next {
                                align-self: center;

                                @media(max-width:320px){
                                    position: absolute;
                                    bottom: 10px;
                                    right: 120px;
                                }

                                i{
                                    color:$navUlLiTextColor;
                                    font-size: 28px;
    
                                    @media(max-width:1024px){
                                        font-size: 16px;
                                    }
        
                                    &:hover{
                                        color:  $navUlLiTextColorHover;
                                    }
                                }
                                
                            }
                            
    

                        }

                    }


                }


                li.visible{
                    display: inline-block;
                }
            }
        }

    }



    

    


}