

main .trainings {

    
    h2 {
        font-family: $font;
        font-size: 39px;
        columns: $h2TextColor; 
        line-height: 45px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 70px;
        font-weight: 800;
    }

    .big-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;


        .small-box{
            display: flex;
            flex-direction: column;
            width: 280px;
            
            .photo-box{
                height: 157px;
                background-image: url("../../assets/_DSC0166.png");
                background-color: gray;
            }
            .text-box{
                height: 380px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 23px;

                h4{
                    font-size: 20px;
                    color: $h4TextColor;
                    line-height: 45px;
                }
                span{
                    color: $trainingsTextPrice;
                    font-size: 24px;
                    border-bottom: 3px solid $spanBorderBottom;
                    padding: 7px 0;
                    width:140px ;
                }

                .p-box{
                    font-size: 14px;
                    line-height: 25px;
                    color: $pTextColor;
                    padding:10px 10px;
                }
            }


            a{
                display: block;
            }
        }
    }
}